/*------------------------------------*\
   HERO CSS
\*------------------------------------*/








/* BANNER GIVEBACK */

/* SCREENS */

/* LOCAL FIXES */

/* END BANNER GIVEBACK */



/* HERO 1 IPHONE-XR */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 1 IPHONE-XR */




/* HERO 2 IPHONE-XS */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 2 IPHONE-XS */







/* HERO 4 IPAD-PRO */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 4 IPAD-PRO */











/* PROMO 1 IPAD-NEWWAY */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 1 IPAD-NEWWAY */




/* PROMO 2 APPLE-WATCH-SERIES-4 */

/* SCREENS */

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new { background-image:url("/uk/home/images/promos/apple-watch-series-4/all_new_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new { background-image:url("/uk/home/images/promos/apple-watch-series-4/all_new_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new { background-image:url("/uk/home/images/promos/apple-watch-series-4/all_new_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new { background-image:url("/uk/home/images/promos/apple-watch-series-4/all_new_medium_2x.jpg"); }

/* LOCAL FIXES */

/* END PROMO 2 APPLE-WATCH-SERIES-4 */




/* PROMO 3 TAA */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 3 TAA */




/* PROMO 4 MACBOOK-AIR */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 4 MACBOOK-AIR */




/* PROMO 5 APPLE-MUSIC */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 5 APPLE-MUSIC */




/* PROMO 6 AIRPODS */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 6 AIRPODS */





/*------------------------------------*\
  END HERO CSS
\*------------------------------------*/
