/*web-font 2016-12-28*/
.inner .subsection-headline:lang(zh-CN),
.grid .copy .eyebrow-subsection:lang(zh-CN) {
   font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h3 .subsection-headline {
    font-size: 30px;
    line-height: 1.21053;
    font-weight: 500;
}

@media only screen and (max-width: 1068px) {
    h3 .subsection-headline {
        font-size: 24px;
	}
}   

@media only screen and (max-width: 735px) {
    h3 .subsection-headline {
        font-size: 22px;
    }
}

.grid .copy .eyebrow-subsection:lang(zh-CN){
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.page-overview .section-billboard.homepod .copy-wrapper .violator { font-size: 14px; }