/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/

.page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_small_2x.jpg"); }
}

.page-overview .section-billboard.gift-cards .gift-cards-graphic {
    background-size: 401px 290px;
    width: 401px;
    height: 290px;
    background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-billboard.gift-cards .gift-cards-graphic {
        background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-billboard.gift-cards .gift-cards-graphic {
        background-size: 281px 203px;
        width: 281px;
    	height: 203px;
        background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.gift-cards .gift-cards-graphic {
        background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-billboard.gift-cards .gift-cards-graphic {
        background-size: 281px 203px;
        width: 281px;
    	height: 203px;
        background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.gift-cards .gift-cards-graphic {
    	margin-left: -155px;
        background-image: url("/euro/music/f/generic/images/overview/gift_cards_alt_small_2x.jpg")
    }
}


/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/





/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/

.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding-right: 45px;
}

@media only screen and (min-width: 325px) {
    .xsmall-show {
        display:none;
    }
}

.page-overview .section-hero .card-hero {
	background: #fafafa;
}


@media only screen and (max-width: 735px) {
 .page-overview .ase-ribbon {
  height:189px;
 }
}

/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/
