body:lang(ja) {	letter-spacing: -.021em; }
.more:after, .icon-chevronright:after { top:-.075em; }

.jp-headline-adjust { margin-right:-.45em; }

.main [data-module-template="promos"] [data-unit-id].apple-event .unit-copy-wrapper .subhead { max-width: 480px; }
.main [data-module-template="promos"] .cta-links a sup { display:inline-block; }

.main [data-module-template="give-back"] .violator { padding-top:6px; padding-bottom:2px; }
.main [data-module-template="give-back"] .subhead { max-width: 31em; }

@media only screen and (max-width: 735px) {
	.main [data-module-template="give-back"] .subhead { max-width: 16em; }
	.main [data-module-template="give-back"] .violator { padding-top:3px; padding-bottom:1px; }
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.cta,
	.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.cta-links { font-size: 17px; }

	.main [data-module-template="promos"] [data-unit-id].apple-event .unit-copy-wrapper .subhead { max-width: 90%; }
}

.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .headline,
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .headline { margin-bottom: 24px; }

.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta,
.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta-links,
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta,
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta-links { margin-top:20px; }

.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .litany .unit-copy-wrapper .subhead:lang(ja),
.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .litany .unit-copy-wrapper .cta:lang(ja),
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead:lang(ja),
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .cta:lang(ja) { line-height:1.25; }

.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-image-wrapper { padding-top:36px; }
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-image-wrapper { padding-top:14px; }

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper { padding-top: 71px; }
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-image { bottom:-50px; }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper { padding-top: 65px;}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .headline,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .headline { margin-bottom: 13px; }

	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta-links,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta-links { margin-top:6px; }

	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .litany .unit-copy-wrapper .subhead:lang(ja),
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .litany .unit-copy-wrapper .cta:lang(ja),
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead:lang(ja),
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .cta:lang(ja) { line-height:1.42863; }

	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-image-wrapper,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-image-wrapper { padding-top:0; }
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .headline,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .headline { margin-bottom: 8px; }

	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .unit-copy-wrapper>*.cta-links,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta,
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.cta-links { margin-top:8px; }

	.main [data-module-template="heroes"] [data-unit-id="iphone-xr"] .litany .unit-copy-wrapper .subhead:lang(ja),
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead:lang(ja) { line-height:1.47059; }

	.ie .main [data-module-template='heroes'] [data-unit-id='iphone-xr'] .litany .unit-image,
	.ie .main [data-module-template='heroes'] [data-unit-id='iphone-xs'] .litany .unit-image { top:22px; }

	.main [data-module-template="promos"] [data-unit-id].apple-watch-series-4 .unit-copy-wrapper .subhead { max-width:320px; }
}

/* Adjust section border color */

html[data-layout-name="grammy-2019"] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
	border-bottom-color: #FFF
}

/* iPhone XS */
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead {
	width:640px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead {
		width:560px;
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .litany .unit-copy-wrapper .subhead {
		width:90%;
	}
}


/* elvis Tile */
@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="elvis"] .unit-copy-wrapper .cta-links a:last-child { margin-top:.4em; }
}


/*
Heroes
 */

/* Apple Watch Series 4 */
.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	width: 340px;
	height: 624px;
	background-size: 340px 624px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		width: 339px;
		height: 617px;
		background-size: 339px 617px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		width: 422px;
		height: 309px;
		background-size: 422px 309px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small_2x.jpg")
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		width: 404px;
		height: 738px;
		background-size: 404px 738px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall.jpg")
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		width: 362px;
		height: 698px;
		background-size: 362px 698px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall.jpg")
	}
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 144dpi) {
	.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image: url("/jp/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall_2x.jpg")
	}
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] {
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	padding-left: calc(max(0px, env(safe-area-inset-left)));
	padding-right: calc(max(0px, env(safe-area-inset-left)))
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
	display: inline-block;
	position: absolute !important;
	width: 50%;
	top: 50%;
	right: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 0
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
		width: 100%;
		right: auto;
		top: auto;
		position: relative !important;
		-webkit-transform: none;
		transform: none
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
		padding-top: 0
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
		padding-top: 37px
	}
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
	display: none
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
		display: block
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
		display: none
	}
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
	position: absolute;
	left: 50%;
	width: 50%;
	margin-left: 0
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
		width: 100%;
		left: auto
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
		margin-left: -20px
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
		margin-left: 0
	}
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper .unit-image {
	left: 0;
	-webkit-transform: none;
	transform: none
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper .unit-image {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
	width: 205px;
	margin-bottom: 17px
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
		width: 145px
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
		width: 123px
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
		margin-bottom: 17px
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
		margin-bottom: 7px
	}
}



/*
Promos
 */
/* Apple Watch Series 4 */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
	background-size: 519px 364px;
	background-image: url("/jp/home/images/promos/apple-watch-series-4/all_new_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
		background-image: url("/jp/home/images/promos/apple-watch-series-4/all_new_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
		background-size: 422px 313px;
		background-image: url("/jp/home/images/promos/apple-watch-series-4/all_new_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
		background-image: url("/jp/home/images/promos/apple-watch-series-4/all_new_medium_2x.jpg")
	}
}

/* Retail Kyoto - Store Photo Promo */
.main [data-module-template="promos"] [data-unit-id="retail-kyoto"] .unit-copy-wrapper .headline,
.main [data-module-template="promos"] [data-unit-id="retail-kyoto"] .unit-copy-wrapper .subhead {
	color: #fff;
}

.main [data-module-template="promos"] [data-unit-id="retail-kyoto"] .unit-copy-wrapper .subhead {
	font-size: 31px;
}
@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="retail-kyoto"] .unit-copy-wrapper .subhead {
		font-size: 25px;
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
		background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
		background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
		width: 736px;
		height: 500px;
		background-size: 736px 500px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-kyoto-retail-kyoto {
		background-image: url("/jp/home/images/promos/retail-kyoto/retail_kyoto_store_small_2x.jpg")
	}
}



/* MacBook Pro */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
		background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
		background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
		width: 736px;
		height: 548px;
		background-size: 736px 548px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macbook-pro-macbook-pro-performance {
		background-image: url("/jp/home/images/promos/macbook-pro/macbook_pro_performance_small_2x.jpg")
	}
}



/* iPad */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
	width: 516px;
	height: 335px;
	background-size: 516px 335px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/ipad/ipad_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
		background-image: url("/jp/home/images/promos/ipad/ipad_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
		width: 228px;
		height: 320px;
		background-size: 228px 320px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/ipad/ipad_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
		background-image: url("/jp/home/images/promos/ipad/ipad_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
		width: 228px;
		height: 340px;
		background-size: 228px 340px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/ipad/ipad_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-ipad {
		background-image: url("/jp/home/images/promos/ipad/ipad_small_2x.jpg")
	}
}



/* Retail Shibuya - Promo - Common Styles */
.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .headline {
	width: 100%;
	max-width: 100%;
	letter-spacing: -.01em;
}
@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .headline {
		width: 90%;
	}
}

.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .headline .jp-headline-adjust {
	margin-right: -.15em;
}

.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .subhead {
	font-size: 28px;
	letter-spacing: -.01em;
}
@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .subhead {
		font-size: 23px;
	}
}

.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .headline,
.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .unit-copy-wrapper .subhead {
	color: #000;
}
.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .theme-dark .unit-copy-wrapper .headline,
.main [data-module-template="promos"] [data-unit-id="retail-shibuya"] .theme-dark .unit-copy-wrapper .subhead {
	color: #fff;
}

/* Retail Shibuya - Promo - Store Photo Avail */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
		background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
		background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
		width: 736px;
		height: 548px;
		background-size: 736px 548px;
		background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-retail-shibuya-store-photo-avail-retail-shibuya-store-photo-avail {
		background-image: url("/jp/home/images/promos/retail-shibuya/retail_shibuya_store_small_2x.jpg")
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
	background-size: 1262px 580px;
	background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-size: 516px 490px;
		background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-size: 736px 548px;
		background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image: url("/jp/home/images/promos/apple-tv/apple_tv_4k__2e48473791_small_2x.jpg")
	}
}



/*
BTS
 */
.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .cta-links a:last-child {
	margin-left: 0;
}
.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .headline,
.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .subhead,
.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .cta {
	max-width: 455px
}
@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .headline,
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .subhead,
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .cta {
		max-width: 90%
	}
}
@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .headline,
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .subhead,
	.main [data-module-template="promos"] [data-unit-id="bts-bts"] .unit-copy-wrapper .cta {
		max-width: 511px
	}
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/bts/last_chance_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
		background-image: url("/jp/home/images/promos/bts/last_chance_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/bts/last_chance_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
		background-image: url("/jp/home/images/promos/bts/last_chance_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
		width: 736px;
		height: 548px;
		background-size: 736px 548px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/bts/last_chance_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-bts {
		background-image: url("/jp/home/images/promos/bts/last_chance_small_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-launch-bts-launch {
		width: 736px;
		height: 548px;
		background-size: 736px 548px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/bts/bts_launch_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-bts-launch-bts-launch {
		background-image: url("/jp/home/images/promos/bts/bts_launch_small_2x.jpg")
	}
}



/*
A New Way To
 */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
	width: 700px;
	height: 321px;
	background-size: 700px 321px;
	background-repeat: no-repeat;
	background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
		background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
		width: 515px;
		height: 261px;
		background-size: 515px 261px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
		background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
		width: 615px;
		height: 263px;
		background-size: 615px 263px;
		background-repeat: no-repeat;
		background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
		background-image: url("/jp/home/images/promos/ipad-newWay/how_to_tile_small_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .headline {
		max-width: 310px
	}
}

.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead {
	max-width: 350px
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead {
		max-width: 300px
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead {
		max-width: 330px
	}
}

.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .cta-links a.more {
	margin: 0
}

.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .headline,
.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead,
.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .cta {
	width: 88%;
	max-width: 430px
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .headline,
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead,
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .cta {
		width: 90%;
		max-width: 315px
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .headline,
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .subhead,
	.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .cta {
		max-width: 90%
	}
}



html[data-layout-name=ipad-newWay] .main [data-module-template="give-back"].standalone-module {
	border-bottom-color: #222
}

html[data-layout-name=ipad-newWay] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xr"] {
	border-top-color: #222;
	border-bottom-color: #222
}
html[data-layout-name=ipad-newWay] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
	border-top-color: #222;
	border-bottom-color: #FFF
}
