
.logo-image-apple-watch-series-4-logo-hero-d4753 {
    background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .logo-image-apple-watch-series-4-logo-hero-d4753 {
        background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .logo-image-apple-watch-series-4-logo-hero-d4753 {
        background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .logo-image-apple-watch-series-4-logo-hero-d4753 {
        background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .logo-image-apple-watch-series-4-logo-hero-d4753 {
        background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .logo-image-apple-watch-series-4-logo-hero-d4753 {
        background-image: url("/vn/home/images/logos/apple_watch_series_4_logo_hero_small_2x.jpg")
    }
}

.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
    background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small_2x.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/vn/home/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall_2x.jpg")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
	background-image: url("/vn/home/images/promos/ios/ios_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
		background-image: url("/vn/home/images/promos/ios/ios_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
		background-image: url("/vn/home/images/promos/ios/ios_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
		background-image: url("/vn/home/images/promos/ios/ios_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
		background-image: url("/vn/home/images/promos/ios/ios_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ios-ios {
		background-image: url("/vn/home/images/promos/ios/ios_small_2x.jpg")
	}
}

/*---*/
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
    background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
        background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
        background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
        background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
        background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-queen-queen--543e514c {
        background-image: url("/vn/home/images/promos/apple-music/apple_music__543e514c_small_2x.jpg")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
    background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
        background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
        background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
        background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
        background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
        background-image: url("/vn/home/images/promos/apple-tv/apple_tv_4k__2e48473791_small_2x.jpg")
    }
}

/*Apple watch series 4 header*/
.logo-image-logo-series-4 {
    background-image: url("/vn/home/images/logos/logo_series_4_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .logo-image-logo-series-4 {
        background-image: url("/vn/home/images/logos/logo_series_4_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .logo-image-logo-series-4 {
        background-image: url("/vn/home/images/logos/logo_series_4_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .logo-image-logo-series-4 {
        background-image: url("/vn/home/images/logos/logo_series_4_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .logo-image-logo-series-4 {
        background-image: url("/vn/home/images/logos/logo_series_4_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .logo-image-logo-series-4 {
        background-image: url("/vn/home/images/logos/logo_series_4_small_2x.jpg")
    }
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
    background-image: url("/vn/home/images/promos/apple-watch-series-4/all_new_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("/vn/home/images/promos/apple-watch-series-4/all_new_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("/vn/home/images/promos/apple-watch-series-4/all_new_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("/vn/home/images/promos/apple-watch-series-4/all_new_medium_2x.jpg")
    }
}