/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/
.page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-hero .card-hero .image-music-hero { background-image:url("/euro/music/f/screens_alt/images/overview/music_hero_small_2x.jpg"); }
}


/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/


/*------------------------------------*\
   DYNAMIC CONTENT
\*------------------------------------*/

/* Square 1 Cover */

.page-overview .section-only-apple-music .image-carlas-dreams {
    background-repeat: no-repeat;
    background-image: url("/euro/music/shared/b/images/grid_dreams_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-carlas-dreams {
        background-image: url("/euro/music/shared/b/images/grid_dreams_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-only-apple-music .image-carlas-dreams {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_dreams_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-carlas-dreams {
        background-image: url("/euro/music/shared/b/images/grid_dreams_medium_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-only-apple-music .image-carlas-dreams {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_dreams_small.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-carlas-dreams {
        background-image: url("/euro/music/shared/b/images/grid_dreams_small_2x.jpg")
    }
}


/* Square 2 Cover */

.page-overview .section-only-apple-music .image-harry-styles {
    background-repeat: no-repeat;
    background-image: url("/euro/music/shared/b/images/grid_styles_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-harry-styles {
        background-image: url("/euro/music/shared/b/images/grid_styles_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-only-apple-music .image-harry-styles {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_styles_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-harry-styles {
        background-image: url("/euro/music/shared/b/images/grid_styles_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-only-apple-music .image-harry-styles {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_styles_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-harry-styles {
        background-image: url("/euro/music/shared/b/images/grid_styles_small_2x.jpg")
    }
}


/* Square 3 Cover */

.page-overview .section-only-apple-music .image-ed-sheeran {
    background-repeat: no-repeat;
    background-image: url("/euro/music/shared/b/images/grid_sheeran_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-ed-sheeran {
        background-image: url("/euro/music/shared/b/images/grid_sheeran_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-only-apple-music .image-ed-sheeran {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_sheeran_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-ed-sheeran {
        background-image: url("/euro/music/shared/b/images/grid_sheeran_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-only-apple-music .image-ed-sheeran {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_sheeran_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-ed-sheeran {
        background-image: url("/euro/music/shared/b/images/grid_sheeran_small_2x.jpg")
    }
}


/* Square 4 Cover */

.page-overview .section-only-apple-music .image-adele {
    background-repeat: no-repeat;
    background-image: url("/euro/music/shared/b/images/grid_adele_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-adele {
        background-image: url("/euro/music/shared/b/images/grid_adele_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-only-apple-music .image-adele {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_adele_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-adele {
        background-image: url("/euro/music/shared/b/images/grid_adele_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-only-apple-music .image-adele {
        background-repeat: no-repeat;
        background-image: url("/euro/music/shared/b/images/grid_adele_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-only-apple-music .image-adele {
        background-image: url("/euro/music/shared/b/images/grid_adele_small_2x.jpg")
    }
}








/*------------------------------------*\
   DYNAMIC CONTENT
\*------------------------------------*/




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/


.page-overview .section-hero .card-hero {
    background: #fafafa;
}

.page-overview .section-billboard.itunes {
    background-color: #fff;
}


.chapternav .chapternav-items .chapternav-item-music {
    padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-itunes .chapternav-icon {
    background-size: auto auto;
}
.chapternav .chapternav-items .chapternav-item-homepod {
    padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-airpods {
    padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-ipod {
   padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-ipod-touch {
   padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-accessories {
    padding: 0 20px;
}
.chapternav .chapternav-items .chapternav-item-cards {
    padding: 0 20px;
}
.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding: 0 20px;
}
.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding: 0 20px;
}
.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding: 0 20px;
}



/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/
