/*taa*/

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] {
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    padding-left: calc(max(0px, env(safe-area-inset-left)));
    padding-right: calc(max(0px, env(safe-area-inset-left)))
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
    display: inline-block;
    position: absolute !important;
    width: 50%;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 0
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
        width: 100%;
        right: auto;
        top: auto;
        position: relative !important;
        -webkit-transform: none;
        transform: none
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
        padding-top: 0
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper {
        padding-top: 37px
    }
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
    display: none
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
        display: block
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-copy-wrapper .medium-only {
        display: none
    }
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: 0
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
        width: 100%;
        left: auto
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
        margin-left: -20px
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper {
        margin-left: 0
    }
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper .unit-image {
    left: 0;
    -webkit-transform: none;
    transform: none
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .unit-image-wrapper .unit-image {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
    width: 205px;
    margin-bottom: 17px
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
        width: 145px
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
        width: 123px
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
        margin-bottom: 17px
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="apple-watch-series-4"] .logo-image-apple-watch-series-4-logo-hero-d4753 {
        margin-bottom: 7px
    }
}



.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
    width: 340px;
    height: 624px;
    background-size: 340px 624px;
    background-repeat: no-repeat;
    background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        width: 339px;
        height: 617px;
        background-size: 339px 617px;
        background-repeat: no-repeat;
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        width: 422px;
        height: 309px;
        background-size: 422px 309px;
        background-repeat: no-repeat;
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_small_2x.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        width: 404px;
        height: 738px;
        background-size: 404px 738px;
        background-repeat: no-repeat;
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall.jpg")
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_largetall_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        width: 362px;
        height: 698px;
        background-size: 362px 698px;
        background-repeat: no-repeat;
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall.jpg")
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 144dpi) {
    .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
        background-image: url("/v/home/dz/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall_2x.jpg")
    }
}
.main [data-module-template="promos"] [data-unit-id="ipad-newWay"] .unit-copy-wrapper .cta-links a:last-child {
    margin-left: 0
}
