/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/







.section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ios .ios12 .promo-image { background-image:url("/euro/ipad/home/r/screens_alt/images/overview/ios_12__d6lf3qvcvyaa_small_2x.jpg"); }
}





.section-buystrip .image-icon-delivery {
    width: 40px;
    height: 44px;
    background-size: 40px 44px;
    background-repeat: no-repeat;
    background-image: url("/euro/ipad/home/r/generic/images/overview/icon_delivery__rotkz466e76u_large.png");
    margin-left: -20px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-buystrip .image-icon-delivery {
        background-image: url("/euro/ipad/home/r/generic/images/overview/icon_delivery__rotkz466e76u_large_2x.png")
    }
}


.section-buystrip .image-icon-pickup {
    width: 38px;
    height: 44px;
    background-size: 38px 44px;
    background-repeat: no-repeat;
    background-image: url("/euro/ipad/home/r/generic/images/overview/pickup_icon_large.png");
    position: relative;
    left: 50%;
    margin-left: -20px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-buystrip .image-icon-pickup {
        background-image: url("/euro/ipad/home/r/generic/images/overview/pickup_icon_large_2x.png")
    }
}

/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/
.section-seasonal .promo-image {
    display: none;
}

@media only screen and (max-width: 1068px) {
    .section-seasonal.handle-last-chance .banner-promo {
        background-position: 40px center;
    }
}

@media only screen and (max-width: 735px) {
    .section-seasonal.handle-last-chance .banner-promo {
        background-position: bottom;
    }
}
.full-width-tile {
    width: 100%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
    margin-bottom: 2.08333vw;
    
}

@media only screen and (max-width: 735px) {
    .promo-section .banner-promo .promo-copy-wrapper {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1068px) {
    .full-width-tile {
		margin-left: 2.34082%;
		margin-right: 2.34082%;
    	margin-bottom: 2.34082%;
    }
}

@media only screen and (max-width: 735px) {
    .full-width-tile {
		margin-left: auto;
		margin-right: auto;
    	margin-bottom: 15px;
    	max-width: 735px;
        width: auto;
    }
}
.section-buystrip .typography-buystrip-copy {
    max-width: 410px;
}

@media only screen and (max-width: 735px) {
 .ase-ribbon {
  height:189px;
 }
}

.section-ios .icloud .promo-image {
	position: relative;
	left: 50%;
	margin-left: -290px;
	margin-top: 35px;
	margin-bottom: 27px
} 

@media only screen and (max-width: 1068px) {
    .section-ios .icloud .promo-image {
        left: 50%;
        margin-left: -158.5px;
        position: relative;
        margin-top: 31px;
        margin-bottom: 52px
    }
}

@media only screen and (max-width: 735px) {
    .section-ios .icloud .promo-image {
        left: 50%;
        margin-left: -140.5px;
        position: relative;
        margin-top: 36px;
        margin-bottom: 36px
    }
}

/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/