/*Local fixes*/

.chapternav .chapternav-items .chapternav-item-airpods {
    padding-left: 20px;
    padding-right: 36px;
}
.chapternav .chapternav-items .chapternav-item-accessories {
    padding-left: 0px;
    padding-right: 22px;
}

.page-overview .section-billboard.ipod{
    background-color: #fff;
}

.page-overview .section-billboard.airpods,
.page-overview .section-billboard.accessories {
    background-color: #fafafa;
}