/*Screen Localisation*/
.page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_large_2x.jpg")
    }
}
    
@media only screen and (max-width: 1068px) {
    .page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) 
{
    .page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_small.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-hero .card-hero .image-music-hero {
        background-image: url("/ph/music/images/overview/music_hero_small_2x.jpg")
    }
}

.page-overview .section-billboard.ipod .ipod-touch-graphic {
    background-image: url("/ph/music/images/overview/ipod_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image:url("/ph/music/images/overview/ipod_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/ph/music/images/overview/ipod_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image:url("/ph/music/images/overview/ipod_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/ph/music/images/overview/ipod_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image:url("/ph/music/images/overview/ipod_small_2x.jpg")
    }
}