.image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_large.jpg"); background-size:572px 256px; width:572px; height:256px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_medium.jpg"); background-size:377px 169px; width:377px; height:169px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_small.jpg"); background-size:736px 415px; width:736px; height:415px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_small_2x.jpg"); }
}
.image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_large.jpg"); background-size:572px 256px; width:572px; height:256px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_medium.jpg"); background-size:377px 169px; width:377px; height:169px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_small.jpg"); background-size:735px 436px; width:735px; height:436px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_small_2x.jpg"); }
}
.image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_medium.jpg"); background-size:1068px 449px; width:1068px; height:449px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-amsterdam { background-image:url("/ca/fr/retail/find-a-store/images/hero_amsterdam_small_2x.jpg"); }
}
.image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_medium.jpg"); background-size:1068px 449px; width:1068px; height:449px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-brussels { background-image:url("/ca/fr/retail/find-a-store/images/hero_brussels_small_2x.jpg"); }
}
.image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_large.jpg"); background-size:2560px 729px; width:2560px; height:729px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_medium.jpg"); background-size:1068px 338px; width:1068px; height:338px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_small.jpg"); background-size:735px 300px; width:735px; height:300px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-find { background-image:url("/ca/fr/retail/find-a-store/images/find_small_2x.jpg"); }
}
.image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_medium.jpg"); background-size:1068px 448px; width:1068px; height:448px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-istanbul { background-image:url("/ca/fr/retail/find-a-store/images/hero_istanbul_small_2x.jpg"); }
}
.image-retail-find-a-store-event-5 { background-image:url("/ca/fr/retail/find-a-store/images/event_5_large.jpg"); background-size:816px 459px; width:816px; height:459px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-5 { background-image:url("/ca/fr/retail/find-a-store/images/event_5_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-event-5 { background-image:url("/ca/fr/retail/find-a-store/images/event_5_medium.jpg"); background-size:576px 324px; width:576px; height:324px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-5 { background-image:url("/ca/fr/retail/find-a-store/images/event_5_medium_2x.jpg"); }
}
.image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_medium.jpg"); background-size:1068px 448px; width:1068px; height:448px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-newyork { background-image:url("/ca/fr/retail/find-a-store/images/hero_newyork_small_2x.jpg"); }
}
.image-retail-find-a-store-event-4 { background-image:url("/ca/fr/retail/find-a-store/images/event_4_large.jpg"); background-size:816px 459px; width:816px; height:459px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-4 { background-image:url("/ca/fr/retail/find-a-store/images/event_4_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-event-4 { background-image:url("/ca/fr/retail/find-a-store/images/event_4_medium.jpg"); background-size:576px 324px; width:576px; height:324px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-4 { background-image:url("/ca/fr/retail/find-a-store/images/event_4_medium_2x.jpg"); }
}
.image-retail-find-a-store-event-3 { background-image:url("/ca/fr/retail/find-a-store/images/event_3_large.jpg"); background-size:816px 459px; width:816px; height:459px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-3 { background-image:url("/ca/fr/retail/find-a-store/images/event_3_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-event-3 { background-image:url("/ca/fr/retail/find-a-store/images/event_3_medium.jpg"); background-size:576px 324px; width:576px; height:324px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-3 { background-image:url("/ca/fr/retail/find-a-store/images/event_3_medium_2x.jpg"); }
}
.image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_medium.jpg"); background-size:1068px 449px; width:1068px; height:449px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-parc66 { background-image:url("/ca/fr/retail/find-a-store/images/hero_parc66_small_2x.jpg"); }
}
.image-retail-find-a-store-event-2 { background-image:url("/ca/fr/retail/find-a-store/images/event_2_large.jpg"); background-size:816px 459px; width:816px; height:459px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-2 { background-image:url("/ca/fr/retail/find-a-store/images/event_2_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-event-2 { background-image:url("/ca/fr/retail/find-a-store/images/event_2_medium.jpg"); background-size:576px 324px; width:576px; height:324px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-2 { background-image:url("/ca/fr/retail/find-a-store/images/event_2_medium_2x.jpg"); }
}
.image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_medium.jpg"); background-size:1068px 449px; width:1068px; height:449px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-unionsquare { background-image:url("/ca/fr/retail/find-a-store/images/hero_unionsquare_small_2x.jpg"); }
}
.image-retail-find-a-store-event-1 { background-image:url("/ca/fr/retail/find-a-store/images/event_1_large.jpg"); background-size:816px 459px; width:816px; height:459px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-1 { background-image:url("/ca/fr/retail/find-a-store/images/event_1_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-event-1 { background-image:url("/ca/fr/retail/find-a-store/images/event_1_medium.jpg"); background-size:576px 324px; width:576px; height:324px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-event-1 { background-image:url("/ca/fr/retail/find-a-store/images/event_1_medium_2x.jpg"); }
}
.image-retail-find-a-store-buystrip-watch { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_watch_large.png"); background-size:55px 61px; width:55px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-watch { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_watch_large_2x.png"); }
}
.image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_large.jpg"); background-size:572px 256px; width:572px; height:256px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_medium.jpg"); background-size:377px 169px; width:377px; height:169px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_small.jpg"); background-size:735px 416px; width:735px; height:416px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_small_2x.jpg"); }
}
.image-retail-find-a-store-buystrip-mac { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_mac_large.png"); background-size:74px 61px; width:74px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-mac { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_mac_large_2x.png"); }
}
.image-retail-find-a-store-buystrip-ipod { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_ipod_large.png"); background-size:40px 61px; width:40px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-ipod { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_ipod_large_2x.png"); }
}
.image-retail-find-a-store-buystrip-iphone { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_iphone_large.png"); background-size:29px 61px; width:29px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-iphone { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_iphone_large_2x.png"); }
}
.image-retail-find-a-store-retail-store-gallery-grand-central { background-image:url("/ca/fr/retail/find-a-store/images/retail_store_gallery_grand_central_large.jpg"); background-size:1440px 605px; width:1440px; height:605px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-retail-store-gallery-grand-central { background-image:url("/ca/fr/retail/find-a-store/images/retail_store_gallery_grand_central_large_2x.jpg"); }
}
.image-retail-find-a-store-buystrip-ipad { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_ipad_large.png"); background-size:44px 61px; width:44px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-ipad { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_ipad_large_2x.png"); }
}
.image-retail-find-a-store-retail-store-gallery-sydney { background-image:url("/ca/fr/retail/find-a-store/images/retail_store_gallery_sydney_large.jpg"); background-size:1440px 605px; width:1440px; height:605px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-retail-store-gallery-sydney { background-image:url("/ca/fr/retail/find-a-store/images/retail_store_gallery_sydney_large_2x.jpg"); }
}
.image-retail-find-a-store-buystrip-appletv { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_appletv_large.png"); background-size:62px 61px; width:62px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-appletv { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_appletv_large_2x.png"); }
}

.image-retail-find-a-store-todayatapple-logo {
    background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_large.png);
    background-size: 143px 23px;
    width: 143px;
    height: 23px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .image-retail-find-a-store-todayatapple-logo {
        background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_large_2x.png)
    }
}

@media only screen and (max-width:1068px) {
    .image-retail-find-a-store-todayatapple-logo {
        background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_medium.png);
        background-size: 143px 23px;
        width: 143px;
        height: 23px
    }
}

@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .image-retail-find-a-store-todayatapple-logo {
        background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_medium_2x.png)
    }
}

@media only screen and (max-width:735px) {
    .image-retail-find-a-store-todayatapple-logo {
        background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_small.png);
        background-size: 136px 21px;
        width: 136px;
        height: 21px
    }
}

@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:735px) and (min-resolution:1.5dppx), only screen and (max-width:735px) and (min-resolution:144dpi) {
    .image-retail-find-a-store-todayatapple-logo {
        background-image: url(/ca/fr/retail/find-a-store/images/todayatapple_logo_small_2x.png)
    }
}



.image-retail-find-a-store-buystrip-accessories { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_accessories_large.png"); background-size:64px 61px; width:64px; height:61px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-buystrip-accessories { background-image:url("/ca/fr/retail/find-a-store/images/buystrip_accessories_large_2x.png"); }
}
@media only screen and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_large.jpg"); background-size:572px 256px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_large_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_medium.jpg"); background-size:377px 169px; }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_small.jpg"); background-size:735px 416px; }
}
@media only screen and (max-width: 735px) and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-learn { background-image:url("/ca/fr/retail/find-a-store/images/learn_small_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_large.jpg"); background-size:572px 256px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_large_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_medium.jpg"); background-size:377px 169px; }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_small.jpg"); background-size:736px 415px; }
}
@media only screen and (max-width: 735px) and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help { background-image:url("/ca/fr/retail/find-a-store/images/help_small_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_large.jpg"); background-size:572px 256px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_large_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_medium.jpg"); background-size:377px 169px; }
}
@media only screen and (max-width: 735px) and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) and (max-width: 735px) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_small.jpg"); background-size:735px 436px; }
}
@media only screen and (max-width: 735px) and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-find-a-store .image-retail-find-a-store-help-genius { background-image:url("/ca/fr/retail/find-a-store/images/help_genius_small_2x.jpg"); }
}
.image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_large.jpg"); background-size:2560px 1074px; width:2560px; height:1074px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_medium.jpg"); background-size:1068px 449px; width:1068px; height:449px; }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_small.jpg"); background-size:735px 380px; width:735px; height:380px; }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-retail-find-a-store-hero-michiganave { background-image:url("/ca/fr/retail/find-a-store/images/hero_michiganave_small_2x.jpg"); }
}

.image-retail-find-a-store-event-6 {
    background-image: url(/ca/fr/retail/find-a-store/images/event_6_large.jpg);
    background-size: 816px 459px;
    width: 816px;
    height: 459px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .image-retail-find-a-store-event-6 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_6_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .image-retail-find-a-store-event-6 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_6_medium.jpg);
        background-size: 576px 324px;
        width: 576px;
        height: 324px
    }
}

@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .image-retail-find-a-store-event-6 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_6_medium_2x.jpg)
    }
}

.image-retail-find-a-store-event-7 {
    background-image: url(/ca/fr/retail/find-a-store/images/event_7_large.jpg);
    background-size: 816px 459px;
    width: 816px;
    height: 459px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:1.5dppx), (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
    .image-retail-find-a-store-event-7 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_7_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
    .image-retail-find-a-store-event-7 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_7_medium.jpg);
        background-size: 576px 324px;
        width: 576px;
        height: 324px
    }
}

@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:1068px) and (min-resolution:1.5dppx), only screen and (max-width:1068px) and (min-resolution:144dpi) {
    .image-retail-find-a-store-event-7 {
        background-image: url(/ca/fr/retail/find-a-store/images/event_7_medium_2x.jpg)
    }
}


.geo-dropdown #store-gallery {
	margin-top: 2px;
}

/* Drop down */

 form select,  form input {
    font-size: 15px;
    text-overflow: '';
    border: none;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}

 .select-style {
    margin-bottom: 16px;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: url(/v/retail/shared/a/images/shared/select_chevrondown_large_2x.png) no-repeat 92%;
    background-size: 10px 6px;
}

@media only screen and (min-width: 736px) {
.section-locator.geo-dropdown select { padding: 2px 40px 2px 15px; }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) and (Orientation: portrait) {
.select-style select { padding: 0 0 0 7px; }
}

html.oldie  .select-style select { height: auto; }
.ie-alt .select-style { border: 0; background: none; }
.ie-alt .select-style select { padding: 0 4px 0 13px; background: #fff; border: 1px solid #666; }

.retail-locator-search .select { margin-top: 4px; float: none; text-shadow: none; background-color: #fff; }

.page-find-a-store #retail-nav-search .retail-locator-search .search .retail-input-wrapper,
.page-find-a-store .section-locator.geo-dropdown .retail-locator {
	height:auto;
}

.page-find-a-store #retail-nav-search .retail-locator-search .search .retail-input-wrapper {
    width: 368px;
}

@media only screen and (max-width: 735px) {
    .page-find-a-store .section-locator.geo-dropdown .retail-locator {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 735px) {
	.page-find-a-store .section-locator.geo-dropdown select.menu {
        padding: 0px 10px 0px 4px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .page-find-a-store #retail-nav-search .retail-locator-search .search .retail-input-wrapper {
        width: 288px;
    }
}

html.ie .page-find-a-store .geo-dropdown.section-locator .select-style,
html.ie .page-find-a-store .geo-dropdown.section-locator select {
    margin: 0 auto;
    border: none;
}
