.main
  [data-module-template="promos"]
  [data-unit-id]
  .unit-copy-wrapper
  .cta-links
  a:only-child,
.main
  [data-module-template="heroes"]
  [data-unit-id]
  .unit-copy-wrapper
  > *.cta-links
  a:only-child {
  margin-left: unset;
}

@media only screen and (max-width: 735px) {
  .main [data-module-template="give-back"] .headline {
    width: 262px;
  }
}

.small-caps {
  font-variant-caps: all-small-caps;
}
