.chapternav .chapternav-items .chapternav-item-ipod-touch {
  padding-right: 22px;
}

.chapternav .chapternav-items .chapternav-item-ipod-touch {
  padding-left: 18px;
}
.page-overview .section-billboard.itunes {
  background-color: #fafafa;
}
