/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/

.section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-empowering .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/empowering_small_2x.jpg"); }
}


.section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-stats .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/energy_usage_small_2x.jpg"); }
}


.section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-bonded .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/immediate_action_small_2x.jpg"); }
}

.section-bonded .infographic {
    width: 981px;
    height: 1042px;
    background-size: 981px 1042px;
}

@media only screen and (max-width: 1068px) {
    .section-bonded .infographic {
        width: 694px;
        height: 760px;
        background-size: 694px 760px;
    }
}

@media only screen and (max-width: 735px) {
    .section-bonded .infographic {
        width: 286px;
        height: 1234px;
        background-size: 286px 1234px;
    }
}


.section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-digging .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/mapping_small_2x.jpg"); }
}


.section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
  .section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
  .section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-waste .infographic { background-image:url("/fr/supplier-responsibility/overview/images/overview/our_goal_small_2x.jpg"); }
}




/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/ 




/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/

@media only screen and (max-width: 735px) {
    .section-bonded .infographic-list .item:nth-child(2) {
        padding-top: 341px
    }
}

@media only screen and (max-width: 735px) {
    .section-bonded .infographic-list .item:nth-child(3) {
        padding-top: 393px
    }
}

@media only screen and (max-width: 735px) {
    .section-bonded .infographic-list .item:nth-child(4) {
        padding-top: 388px
    }
}




/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/ 