
.page-overview .section-billboard.itunes .itunes-graphic {
	background-image: url("/vn/music/images/overview/itunes_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/vn/music/images/overview/itunes_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/vn/music/images/overview/itunes_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/vn/music/images/overview/itunes_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/vn/music/images/overview/itunes_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/vn/music/images/overview/itunes_small_2x.jpg")
	}
}


.page-overview .section-apps .apps-graphic {
	background-image: url("/vn/music/images/overview/apps_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/vn/music/images/overview/apps_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/vn/music/images/overview/apps_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/vn/music/images/overview/apps_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/vn/music/images/overview/apps_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/vn/music/images/overview/apps_small_2x.jpg")
	}
}


.page-overview .section-hero .card-hero .image-music-hero {
	background-image: url("/vn/music/images/overview/music_hero_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/vn/music/images/overview/music_hero_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/vn/music/images/overview/music_hero_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/vn/music/images/overview/music_hero_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/vn/music/images/overview/music_hero_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/vn/music/images/overview/music_hero_small_2x.jpg")
	}
}

.page-overview .section-billboard.ipod .ipod-touch-graphic {
    background-image: url("/vn/music/images/overview/ipod_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/vn/music/images/overview/ipod_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/vn/music/images/overview/ipod_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/vn/music/images/overview/ipod_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/vn/music/images/overview/ipod_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.ipod .ipod-touch-graphic {
        background-image: url("/vn/music/images/overview/ipod_small_2x.jpg")
    }
}

