.page-overview .section-billboard.accessories {
  background-color: #fafafa;
}
.page-overview .section-billboard.itunes {
  background-color: #fafafa;
}
.page-overview .section-billboard.gift-cards {
  background-color: #fff;
}
.page-overview .section-apps {
  background-color: #fff;
}
.page-overview .section-working-with.working-with {
  background-color: #fafafa;
}
.page-overview .section-billboard.itunes .links-inline li {
  margin-left: 10px;
}
/*.page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
  width: 286px;
  height: 600px;
  background-size: 286px 600px;
  background-image: url("/mideast/music/g/images/overview/ipod_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
    background-image: url("/mideast/music/g/images/overview/ipod_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
    width: 176px;
    height: 371px;
    background-size: 176px 371px;
    background-image: url("/mideast/music/g/images/overview/ipod_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
    background-image: url("/mideast/music/g/images/overview/ipod_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
    width: 160px;
    height: 332px;
    background-size: 160px 332px;
    background-image: url("/mideast/music/g/images/overview/ipod_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-billboard.ipod .ipod-touch-graphic-alt {
    background-image: url("/mideast/music/g/images/overview/ipod_small_2x.png");
  }
}*/
