/* Adjusted styles */

a wbr + .nowrap { display:inline; }

.icon-wrapper .more::after { display: inline-block; transform: translateY(-.11em); }

span.jp-headline-adjust { margin-right: -.45em; }

@media only screen and (max-width: 374px) {
	.xsmall-hide {
		display: none;
	}
	.xsmall-show {
		display: block;
	}
	.xsmall-show-inline {
		display: inline;
	}
}

.chapternav .chapternav-items .chapternav-item-airpods { padding-left: 19px; padding-right: 45px; }

.page-overview .section-billboard.airpods,
.page-overview .section-billboard.accessories,
.page-overview .section-billboard.itunes,
.page-overview .section-working-with.working-with {
	background-color: #fafafa;
}
.page-overview .section-billboard.ipod,
.page-overview .section-billboard.gift-cards,
.page-overview .section-apps {
	background-color: #fff;
}

/* Localized images - products and screens */

.page-overview .section-hero .card-hero .image-music-hero {
	background-size: 1245px 600px;
	background-image: url("/jp/music/images/overview/music_hero_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/jp/music/images/overview/music_hero_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-size: 550px 420px;
		background-image: url("/jp/music/images/overview/music_hero_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/jp/music/images/overview/music_hero_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-size: 608px 305px;
		background-image: url("/jp/music/images/overview/music_hero_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-hero .card-hero .image-music-hero {
		background-image: url("/jp/music/images/overview/music_hero_small_2x.jpg")
	}
}

.page-overview .section-billboard.ipod .ipod-touch-graphic {
	background-size: 284px 599px;
	background-image: url("/jp/music/images/overview/ipod_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-billboard.ipod .ipod-touch-graphic {
		background-image: url("/jp/music/images/overview/ipod_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-billboard.ipod .ipod-touch-graphic {
		background-size: 180px 378px;
		background-image: url("/jp/music/images/overview/ipod_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.ipod .ipod-touch-graphic {
		background-image: url("/jp/music/images/overview/ipod_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-billboard.ipod .ipod-touch-graphic {
		background-size: 157px 330px;
		background-image: url("/jp/music/images/overview/ipod_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.ipod .ipod-touch-graphic {
		background-image: url("/jp/music/images/overview/ipod_small_2x.jpg")
	}
}

.page-overview .section-billboard.gift-cards .gift-cards-graphic {
	background-size: 406px 264px;
	background-image: url("/jp/music/images/overview/gift_cards_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-billboard.gift-cards .gift-cards-graphic {
		background-image: url("/jp/music/images/overview/gift_cards_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-billboard.gift-cards .gift-cards-graphic {
		background-size: 290px 189px;
		background-image: url("/jp/music/images/overview/gift_cards_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.gift-cards .gift-cards-graphic {
		background-image: url("/jp/music/images/overview/gift_cards_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-billboard.gift-cards .gift-cards-graphic {
		background-size: 356px 219px;
		background-image: url("/jp/music/images/overview/gift_cards_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.gift-cards .gift-cards-graphic {
		background-image: url("/jp/music/images/overview/gift_cards_small_2x.jpg")
	}
}

.page-overview .section-billboard.itunes .itunes-graphic {
	background-size: 1085px 621px;
	background-image: url("/jp/music/images/overview/itunes_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/jp/music/images/overview/itunes_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-size: 622px 421px;
		background-image: url("/jp/music/images/overview/itunes_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/jp/music/images/overview/itunes_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-size: 280px 161px;
		background-image: url("/jp/music/images/overview/itunes_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-billboard.itunes .itunes-graphic {
		background-image: url("/jp/music/images/overview/itunes_small_2x.jpg")
	}
}

.page-overview .section-apps .apps-graphic {
	background-size: 944px 496px;
	background-image: url("/jp/music/images/overview/apps_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/jp/music/images/overview/apps_large_2x.jpg")
	}
}

@media only screen and (max-width: 1068px) {
	.page-overview .section-apps .apps-graphic {
		background-size: 704px 369px;
		background-image: url("/jp/music/images/overview/apps_medium.jpg")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/jp/music/images/overview/apps_medium_2x.jpg")
	}
}

@media only screen and (max-width: 735px) {
	.page-overview .section-apps .apps-graphic {
		background-size: 330px 166px;
		background-image: url("/jp/music/images/overview/apps_small.jpg")
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.page-overview .section-apps .apps-graphic {
		background-image: url("/jp/music/images/overview/apps_small_2x.jpg")
	}
}



/* JNY RIBBON */
#jny-ribbon {
	background-color: #fafafa;
}
#jny-ribbon .section-content {
	width: 980px;
	height: 55px;
	position: relative;
	display: table;
	margin: 0 auto;
}
@media only screen and (max-width: 1068px) {
	#jny-ribbon .section-content {
		width: 692px;
	}
}
@media only screen and (max-width: 735px) {
	#jny-ribbon .section-content {
		width: 348px;
		max-width: 100%;
		height: 170px;
	}
}
#jny-ribbon .typography-intro {
	padding: 2px 0 0 317px;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	color: #111;
	position: relative;
	z-index: 1;
}
@media only screen and (max-width: 1068px) {
	#jny-ribbon .typography-intro {
		padding: 4px 0 0 181px;
		text-align: center;
	}
}
@media only screen and (max-width: 735px) {
	#jny-ribbon .typography-intro {
		padding: 8px 12px 0 164px;
	}
	#jny-ribbon .typography-intro .icon-wrapper {
		display: block;
		margin: .5em 0 0;
	}
}
#jny-ribbon .typography-intro .footnote {
	margin-left: 0.1em;
}

#jny-ribbon .icon-wrapper {
	color: #0070c9;
}

#jny-ribbon .jny-ribbon-image {
	position: absolute;
	top: 0;
	left: 132px;
	width: 175px;
	height: 55px;
	background-size: 175px 55px;
	background-repeat: no-repeat;
	backgrounnd-position: center center;
	background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	#jny-ribbon .jny-ribbon-image {
		background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_large_2x.jpg");
	}
}
@media only screen and (max-width: 1068px) {
	#jny-ribbon .jny-ribbon-image {
		left: 113px;
		background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_medium.jpg");
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	#jny-ribbon .jny-ribbon-image {
		background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_medium_2x.jpg");
	}
}

@media only screen and (max-width: 735px) {
	#jny-ribbon .jny-ribbon-image {
		left: -14px;
		width: 190px;
		height: 170px;
		background-size: 190px 170px;
		background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_small.jpg");
	}
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	#jny-ribbon .jny-ribbon-image {
		background-image: url("/jp/music/images/overview/jny2019/jny2019_offer_small_2x.jpg");
	}
}



/*
Fixed Ribbon Position
 */
#jny-ribbon {
	position: relative;
	z-index: 2;
}

.section-chapternav {
	height: 116px;
	margin-top: 44px;
}
@media only screen and (max-width: 735px) {
	.section-chapternav {
		height: 116px;
		margin-top: 48px;
	}
}

.page-overview .section-hero {
	padding-top: 0
}
.page-overview .section-hero .card-hero {
	padding-top: 72px;
	height: 822px;
}
@media only screen and (max-width: 1068px) {
	.page-overview .main {
		margin-top: -72px
	}
	.page-overview .section-hero .card-hero {
		padding-top: 0;
		height: 650px;
	}
}
@media only screen and (max-width: 735px) {
	.page-overview .main {
		margin-top: -68px;
	}
	.page-overview .section-hero .card-hero {
		height: auto;
	}
}
