/*------------------------------------*\
   HERO CSS
\*------------------------------------*/




/* HERO 1 IPHONE-XR */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 1 IPHONE-XR */





/* HERO 2 IPHONE-XS */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 2 IPHONE-XS */





/* HERO 3 APPLE WATCH SERIES 4 */

/* SCREENS */

.logo-image-apple-watch-series-4-logo-hero-d4753 {
	background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_medium_2x.jpg"); 
  }
}

@media only screen and (max-width: 735px) {
  .logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .logo-image-apple-watch-series-4-logo-hero-d4753 {
		background-image:url("/euro/home/l/generic/images/logos/apple_watch_series_4_logo_hero_d4753_non_cellular_small_2x.jpg");
  }
}

.main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
	background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_large_2x.jpg");
	}
}

@media only screen and (max-width: 1068px) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_medium.jpg");
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_medium_2x.jpg");
	}
}

@media only screen and (max-width: 735px) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_small_2x.jpg");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_largetall.jpg");
  }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_largetall_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_mediumtall.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) and (min-resolution: 144dpi) {
  .main [data-module-template="heroes"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-apple-watch-series-4-4aeff {
		background-image:url("/euro/home/l/screens_alt/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_non_cellular_mediumtall_2x.jpg");
  }
}

/* LOCAL FIXES */

/* END HERO 3 APPLE WATCH SERIES 4 */




/* PROMO 1 IPAD PRO */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 1 IPAD PRO */




/* PROMO 2 MACBOOK AIR */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 2 MACBOOK AIR */




/* PROMO 3 MAC MINI */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 3 MAC MINI */




/* PROMO 4 AIRPODS */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 4 AIRPODS */

/*------------------------------------*\
  END HERO CSS
\*------------------------------------*/