/*------------------------------------*\
   HERO CSS
\*------------------------------------*/




/* BANNER GIVEBACK */

/* SCREENS */

/* LOCAL FIXES */

html[data-layout-name=default] .main [data-module-template="give-back"].standalone-module, html[data-layout-name=evergreen] .main [data-module-template="give-back"].standalone-module {
	border-bottom-color: #222;
}

/* END BANNER GIVEBACK */









/* HERO 1 IPHONE-XR */

/* SCREENS */

/* LOCAL FIXES */

html[data-layout-name=default] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xr"], html[data-layout-name=evergreen] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xr"] {
	border-top-color: #222;
	border-bottom-color: #222;
}

/* END HERO 1 IPHONE-XR */




/* HERO 2 IPHONE-XS */

/* SCREENS */

/* LOCAL FIXES */

html[data-layout-name=default] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"], html[data-layout-name=evergreen] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
	border-top-color: #222;
}

@media screen and (max-width: 1442000px) and (min-width: 1070px) and (max-height: 1442000px) and (min-height: 776px) {
		.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-wrapper .unit-image-wrapper {
			margin-top: 33px;
		}
}

@media screen and (max-width: 1442000px) and (min-width: 1070px) and (max-height: 1442000px) and (min-height: 776px) {
    .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
        height: calc(725px + 12px)
    }
}

/* END HERO 2 IPHONE-XS */





/* HERO 3 APPLE-WATCH-SERIES-4 */

/* SCREENS */

/* LOCAL FIXES */

/* END HERO 3 APPLE-WATCH-SERIES-4 */






/* PROMO 1 IPAD-PRO */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 1 IPAD-PRO */




/* PROMO 2 MACBOOK-AIR */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 2 MACBOOK-AIR */




/* PROMO 3 TAA */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 3 TAA */




/* PROMO 4 APPLE-MUSIC */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 4 APPLE-MUSIC */




/* PROMO 5 AIRPODS */

/* SCREENS */

/* LOCAL FIXES */

/* END PROMO 5 AIRPODS */



/* PROMO 6 APPLE-TV-4K */

/* SCREENS */

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
	background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-tv-apple-tv-4k--2e48473791 {
		background-image:url("/euro/home/l/screens_alt/images/promos/apple-tv/apple_tv_4k__2e48473791_small_2x.jpg");
  }
}

/* LOCAL FIXES */

/* END PROMO 6 APPLE-TV-4K */





/*------------------------------------*\
  END HERO CSS
\*------------------------------------*/
