/* WEB FONT 2016.12.22 */
/*PC*/
/**{font-family: '微軟正黑體Microsoft JhengHei','微軟正黑體 Microsoft JhengHei','Microsoft JhengHei','微軟正黑體', "STHeitiTC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
.footer-shop, .footer-links, .footer-sosumi{font-size:10px; line-height:1.5;}
.fix-width{width:65%;}*/
@media \0screen {*{font-family: '微軟正黑體Microsoft JhengHei','微軟正黑體 Microsoft JhengHei','Microsoft JhengHei','微軟正黑體', "STHeitiTC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;}
.footer-shop, .footer-links, .footer-sosumi{font-size:10px; line-height:1.5;}
.fix-width{width:65%;}
}
/*PC end*/   