/* 2018.10.22 Workshop */
@media only screen and (max-width: 320px) {
	.badge-unit.small-badge-kg:lang(zh-TW){
		font-size: 25px;
	}
	br.hide-only-for-xsmall {
	display: none;
	}
}


.section-macos .figure-wrapper .image-iphone {
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
