/* 2018-3-6 */
.section-waste .infographic-list .list-labels .item-3 p {
	margin-top: 10px;
}
@media only screen and (max-width: 1068px) {
    .section-waste .infographic-list .list-labels .item-3 p {
		margin-top: 5px;
	}
}
@media only screen and (max-width: 735px) {
     .section-waste .infographic-list .list-labels .item-3 p {
		margin-top: auto;
	}
}

.section-waste .infographic-list .list-labels .item-4 p {
	margin-top: 10px;
}
@media only screen and (max-width: 1068px) {
    .section-waste .infographic-list .list-labels .item-4 p {
		margin-top: auto;
	}
}
@media only screen and (max-width: 735px) {
     .section-waste .infographic-list .list-labels .item-4 p {
		margin-top: auto;
	}
}


.section-digging .infographic {
    width: 850px;
    height: 1625px;
    background-size: 850px 1625px;
    background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-digging .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-digging .infographic {
        width: 584px;
        height: 1132px;
        background-size: 584px 1132px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-digging .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .section-digging .infographic {
        width: 295px;
        height: 618px;
        background-size: 295px 618px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-digging .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/mapping_small_2x.jpg")
    }
}


.section-empowering .infographic {
    width: 970px;
    height: 692px;
    background-size: 970px 692px;
    background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-empowering .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-empowering .infographic {
        width: 695px;
        height: 497px;
        background-size: 695px 497px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-empowering .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .section-empowering .infographic {
        width: 291px;
        height: 243px;
        background-size: 291px 243px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-empowering .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/empowering_small_2x.jpg")
    }
}

.section-waste .infographic {
    width: 590px;
    height: 648px;
    background-size: 590px 648px;
    background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-waste .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-waste .infographic {
        width: 483px;
        height: 532px;
        background-size: 483px 532px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-waste .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .section-waste .infographic {
        width: 231px;
        height: 269px;
        background-size: 231px 269px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-waste .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/our_goal_small_2x.jpg")
    }
}

.section-stats .infographic {
    width: 976px;
    height: 499px;
    background-size: 976px 499px;
    background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-stats .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-stats .infographic {
        width: 696px;
        height: 355px;
        background-size: 696px 355px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-stats .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .section-stats .infographic {
        width: 291px;
        height: 149px;
        background-size: 291px 149px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-stats .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/energy_usage_small_2x.jpg")
    }
}


.section-bonded .infographic {
    width: 981px;
    height: 1042px;
    background-size: 981px 1042px;
    background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-bonded .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-bonded .infographic {
        width: 694px;
        height: 776px;
        background-size: 694px 776px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-bonded .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .section-bonded .infographic {
        width: 286px;
        height: 1165px;
        background-size: 286px 1165px;
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-bonded .infographic {
        background-image: url("https://images.apple.com/hk/supplier-responsibility/overview/images/overview/immediate_action_small_2x.jpg")
    }
}

