/******** Localised images start ********/

.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
	.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
	.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-bonded .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/immediate_action_small_2x.jpg"); }
}



.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_large.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_large_2x.jpg"); }
}
@media only screen and (max-width: 1068px) {
	.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_medium.jpg"); }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_medium_2x.jpg"); }
}
@media only screen and (max-width: 735px) {
	.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_small.jpg"); }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	.section-stats .infographic { background-image: url("https://images.apple.com/au/supplier-responsibility/images/energy_usage_small_2x.jpg"); }
}

/******** Localised images end ********/

/******** Local fixes start ********/

/******** Local fixes end ********/