.page-overview .section-billboard.airpods {
    background-color: #fafafa;
}
.page-overview .section-billboard.ipod {
    background-color: #fff;
}
.page-overview .section-billboard.accessories{
    background-color: #fafafa;
}
.page-overview .section-billboard.gift-cards{
    background-color: #fff;
}
.page-overview .section-billboard.itunes{
    background-color: #fafafa;
}
.page-overview .section-apps{
    background-color: #fff;
}
.page-overview .section-working-with{
    background-color: #fafafa;
}