.main #section-promos .homepage-section-positions > .homepage-section-item .event .unit-subheader {
    width: 313px;
}

@media only screen and (max-width: 1068px) {
    .main #section-promos .homepage-section-positions > .homepage-section-item .event .unit-subheader {
        width: 282px;
    }
}


/* red */


/*br*/
br.xsmall-hide{ display: block;}
@media only screen and (max-width: 375px) {
	br.xsmall-hide{ display: none;}
}


/* behind-the-mac-daito */
.main .section-heroes .homepage-section-positions > .homepage-section-item .behind-the-mac-daito .links a:last-child {
    margin-left: 26px
}

@media only screen and (max-width: 1068px) {
    .main .section-heroes .homepage-section-positions > .homepage-section-item .behind-the-mac-daito .links a:last-child {
        margin-left: 24px
    }
}

@media only screen and (max-width: 735px) {
    .main .section-heroes .homepage-section-positions > .homepage-section-item .behind-the-mac-daito .links a:last-child {
        margin-left: -28px;
    }
}

@media only screen and (max-width: 321px) {
    .main .section-heroes .homepage-section-positions > .homepage-section-item .behind-the-mac-daito .links a:last-child {
        margin-left: -28px;
    }
}

.main .section-promos .homepage-section-positions > .homepage-section-item .behind-the-mac-peter .links a:last-child {
    margin-left: 26px
}

@media only screen and (max-width: 1068px) {
    .main .section-promos .homepage-section-positions > .homepage-section-item .behind-the-mac-peter .links a:last-child {
        margin-left: 20px
    }
}

@media only screen and (max-width: 735px) {
    .main .section-promos .homepage-section-positions > .homepage-section-item .behind-the-mac-peter .links a:last-child {
        margin-left: -2px;
    }
}


/**the bucket**/


.overview-iphone-xs {
    background-size: 100% auto;
    display: inline-block;
    width: 148px;
    height: 30px;
    margin-bottom: -6px
}

@media only screen and (max-width: 1068px) {
    .overview-iphone-xs {
        width: 130px;
        margin-bottom: -9px
    }
}

@media only screen and (max-width: 735px) {
    .overview-iphone-xs {
        width: 116px;
        margin-bottom: -11px
    }
}

.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-image {
    top: auto;
}
@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-image {
    top: auto;
}
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-image {
    top: 0;
}
}
.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > * .cta-links a:last-child {
    margin-left: 0;
}

.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
    text-align: center;
    padding-top: 66px
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
        padding-top: 75px
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
        padding-top: 170px
    }
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
        padding-top: 78px
    }
}

@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
        padding-top: 115px
    }
}
.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
	font-size: 34px;
	font-weight: 500;
    margin-top: 1.2em;
}
@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
	font-size: 30px;
	font-weight: 500;
    margin-top: 27px;
}
}
@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
    margin-top: 39px;
}
}
@media only screen and (max-width: 1068px) and (min-width: 736px) and (min-height: 734px) {
     .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
    margin-top: 28px;
}
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
	font-size: 26px;
	font-weight: 500;
    margin-top: 21px;
}
}

.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta, .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta-links {
	margin-top: 1.4em;
}
@media only screen and (max-width: 1068px) {
   .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta, .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta-links {
	margin-top: 8px;
}
}
/****/
/**apple music **/
.main [data-module-template="promos"] [data-unit-id="apple-music"] .unit-copy-wrapper h5.subhead {
    color: #111;
}
.main [data-module-template="promos"] [data-unit-id="apple-music"] .unit-copy-wrapper .cta-links a {
    color: #0070c9;
}
.main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.subhead {
    width: 600px
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.subhead{
        width: 525px
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id="iphone-xs"] .unit-copy-wrapper>*.subhead {
        width: 90%
    }
}

.main [data-module-template="promos"] [data-unit-id="holiday-tv-spot"] .unit-copy-wrapper .headline, 
.main [data-module-template="promos"] [data-unit-id="holiday-tv-spot"] .unit-copy-wrapper .subhead{
    color:#000;
    max-width: 500px;
}
@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] [data-unit-id="holiday-tv-spot"] .unit-copy-wrapper .subhead {
       max-width: 400px;
	}
	.main [data-module-template="promos"] [data-unit-id="holiday-tv-spot"] .cta-link a#tv-spot-holiday{
    color:#0070c9;
	}
}
/* 
.main [data-module-template="heroes"]:not(.standalone-module) .unit-wrapper {
        height: 580px;
        width: 100%
    }
 */
/****/

@media only screen and (min-width: 1069px) and (min-height: 776px) {
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper {
        padding-top: 76px;
    }
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper > *.subhead {
    	margin-top: 40px;
    }
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta, .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta-links {
    	margin-top: 35px;
    }
}

html[data-layout-name=holiday-tv-spot] .main [data-module-template="give-back"].standalone-module {
    border-bottom-color: #222
}
html[data-layout-name=holiday-tv-spot] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="the-bucket"],
html[data-layout-name=holiday-tv-spot] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xr"],
html[data-layout-name=holiday-tv-spot] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
    border-top-color: #222;
    border-bottom-color: #222
}

html[data-layout-name=holiday-tv-spot] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
    border-bottom-color: #FFF
}

.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper h3.subhead {
       color: #eee;
    }
@media only screen and (max-width: 735px) {
    .main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.cta, 
    .main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper>*.cta-links {
        margin-top: 6px;
    }
    .main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.subhead {
    	line-height: 1.22115;
    }
}

.main [data-module-template="heroes"] [data-unit-id="the-bucket"] .unit-copy-wrapper>*.cta-links a:last-child {
    margin-left: 0px
}

.cny-gift-guide .cny_centerall {
    padding-left: 0.2em;
}
.main [data-module-template="promos"] [data-unit-id="apple-music"] .unit-copy-wrapper>*.cta-links a:last-child{
    margin-left: 0px
}
