/*------------------------------------*\
   LOCAL SCREENS
\*------------------------------------*/


.page-overview .section-billboard.itunes .itunes-graphic {
    background-image: url("/euro/music/e/screens_alt/images/overview/itunes_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-billboard.itunes .itunes-graphic {
        background-image: url("/euro/music/e/screens_alt/images/overview/itunes_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-billboard.itunes .itunes-graphic {
        background-image: url("/euro/music/e/screens_alt/images/overview/itunes_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.itunes .itunes-graphic {
        background-image: url("/euro/music/e/screens_alt/images/overview/itunes_medium_2x.png")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-billboard.itunes .itunes-graphic {
        background-image: url("/euro/music/e/screens_alt/images/overview/itunes_small.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-billboard.itunes .itunes-graphic {
        background-image: url("/euro/music/e/screens_alt/images/overview/itunes_small_2x.png")
    }
}


/*------------------------------------*\
   END LOCAL SCREENS
\*------------------------------------*/





/*------------------------------------*\
   LOCAL FIXES
\*------------------------------------*/
.chapternav .chapternav-items .chapternav-item-music {
    padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-itunes .chapternav-icon {
    background-size: auto auto
}
.chapternav .chapternav-items .chapternav-item-homepod {
    padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-airpods {
    padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-ipod {
   padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-ipod-touch {
   padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-accessories {
    padding: 0 20px
}
.chapternav .chapternav-items .chapternav-item-cards {
    padding: 0 20px
}
.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding: 0 20px
}
.chapternav-alt .chapternav-items .chapternav-item-itunes {
    padding: 0 20px
}
.page-overview .section-billboard.airpods {
	padding-top: 173px;
}
@media only screen and (max-width: 735px){
	.page-overview .section-billboard.airpods {
		padding-top: 185px;
	}
}

/*------------------------------------*\
   END LOCAL FIXES
\*------------------------------------*/